@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

}
a {
  text-decoration: none;
}

:root {
  --brand-color: #8D1B3D;
  --dark-10: #0E131E;
  --dark-20: #3C3939;
  --dark-30: #F4F4F4;
  --white-10: white;
}

body {
  background-color: var(--brand-color);
}

.section--container {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
}